@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    /* box-sizing: border-box; */
    margin: 0px;
    padding:0px;
    
}
h1{
    font-size:xx-large;
    color: rgb(15, 223, 238);
    text-align: center;
    /* text-decoration: underline; */
     font-family: "Poppins", sans-serif;
     margin-top: 30px;
     
     
}
body{
    margin: 0px;
    background-color: #0c0c0c;
     font-family: "Poppins", sans-serif;
     padding: 0px;
    
}

header{
    background-color: #686666;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    
    
}

.search {
padding: 0.5rem 1rem;
border-radius: 50px;
border: 2px solid #f70505;
background-color: white;
font-family: inherit;
color: black;
font-size: 1rem;
width: 15vw;
margin-left: 32vw;
}

.search::placeholder{
    color: black;
}

.search:focus{
    outline: none;
    background-color: white;
}


#main{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 100px; */
    
}


/* ye baad me dekhte hai */

.movie{
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    width: 300px;
    background-color: #929af3;
    margin: 1rem;
    overflow: hidden;
    position: relative; 
    

}

.movie img{
 width: 100%;
   
}

.movie-info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    color: rgb(15, 14, 14);
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(46, 194, 46);
}
.movie-info span.orange{
 color: orange;
}
.movie-info span.red{
    color: red;

}

.overview{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:white;
    
    
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 1s ease-in;
    max-width: 100%;
    overflow: auto;
    /* margin-left: 15px; */
    



}

.movie:hover .overview{
    transform: translateY(0);

}

.overview h4{
    margin-top: 0;
}
nav{
   float: inline-start;
   margin-top: 30px;
   position:relative;
   width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
   
  }
  
  li a:hover {
    background-color: rgb(4, 90, 25);
  }
  #form{
   
    padding: 0.4rem;
    display: flex;
    justify-content:right;

  }
  
  .btn1{
    border-radius: 9px;
    padding: 15px;
    display:flex;
    align-items: center;
    margin-left: 20vw;
    /* width: 20%; */
  }
  .btn2{
    border-radius: 9px;
    padding: 15px;
    display:flex;
    align-items: center;
    /* width: 20%; */

  }
  
  .btn3{
    border-radius: 9px;
    padding: 15px;
    display:flex;
    align-items: center;
    /* width: 20%; */

  }
  .btn4{
    border-radius: 9px;
    padding: 15px;
    display:flex;
    align-items: center;
    margin-right: 20vw;
    /* width: 20%; */

  }
  ul li.dropdown-content{
    overflow: hidden;
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position:relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
 #form .me{
  
  display: flex;
  margin-top: 7px;
  border-radius: 3px;
  
}
.samit img{
  height:29px;
  width:30px;
  border-radius: 5px;
  margin-top: 10px;
  border-color: #eb2f06 solid;
  margin-left: 8px;
}
html{
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  
}
@media (max-width:660px){
  main{margin-left: 23px;

  }
}
@media (max-width:1300px){
  .search{
    width: 80vw;
    margin: auto;
  }
}
header a{
  border: 2px solid rgb(15, 1, 1);
  padding:10px;
  border-radius: 10px;
  color: black;
  /* width: 20vw; */

  
}
.a1{
  margin-left: 20vw;


}
.a4{
  margin-right: 20vw;
}
header a:hover{
  color:white;
}
@media (max-width:800px){
  header a{
    width: 20vw;
    font-size: 2.5vw;
    margin: 5px;
  }
  .a1{
    margin-left: 0;
  }
  .a4{
    margin-right: 0;
  }

  }


  